/* max-width 640px*/
@media only screen and (max-width: 40em) {
	.top.band {
		background: url('../img/top-band-bg2.jpeg') no-repeat center bottom;
		width: 100%;
		height: 100%;
		position: static;
		/*background-size: 300%;*/
		/*position:relative;*/
	}
	.top-band-content h1 {
		font-family: 'Gotham SSm',sans-serif;
		font-style: normal;
		font-weight: 300;
		text-transform:uppercase;
		color:#fff;
		font-size:2em;
    letter-spacing: 0.1em;
    line-height: 1.1em;
	}
}

/* min-width 641px and max-width 1024px*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.top.band {
		background: url('../img/top-band-bg2.jpeg') no-repeat center bottom;
		width: 100%;
		height: 100%;
		position: static;
	}
	.top-band-content h1 {
		font-family: 'Gotham SSm',sans-serif;
		font-style: normal;
		font-weight: 300;
		text-transform:uppercase;
		color:#fff;
		font-size:4em;
    letter-spacing: 0.1em;
    line-height: 1.1em;
	}
}

/* min-width 1025px*/
@media only screen and (min-width: 64.063em) {
	.top.band {
		background: url('../img/top-band-bg2.jpeg') no-repeat center bottom;
		width: 100%;
		height: 100%;
		position: static;
	}
	.top-band-content h1 {
		font-family: 'Gotham SSm',sans-serif;
		font-style: normal;
		font-weight: 300;
		text-transform:uppercase;
		color:#fff;
		font-size:4em;
    letter-spacing: 0.1em;
    line-height: 1.1em;
	}
}

h2 {
	text-transform:uppercase;
	text-align:center;
	padding:35px 0;
	font-family: 'Gotham SSm',sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size:28px;
	letter-spacing:0.1em;
}
h3 {
	font-family: 'Gotham SSm',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:21px;
	letter-spacing:0.2em;
	text-transform:uppercase;
}
h4 {
	font-family: 'Gotham SSm',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:25px;
	letter-spacing:0.2em;
	text-transform:uppercase;
}
.slick-prev {
  left: -90px;
}
.slick-next {
  right: -50px;
}
.slick-prev:before, .slick-next:before {
  color:black;
	font-size: 60px;
}
/**
 * Header
 */

/*.top.band {
	background: url('../img/top-band-bg2.jpeg') no-repeat center center;
	background-size:100% auto;
	position:relative;
}*/
p {
	color: #777;
}
.top-bar, .top-bar ul {
	background-color:#fff;
}
li.nav-item {
	text-transform: uppercase;
  letter-spacing: 1px;
  color: #222;
  font-weight: 500;
  font-family: 'Gotham SSm',sans-serif;
  font-size: 10px;
	/*word-spacing: 15px;*/
}
li.nav-item a {
  margin-right: 3em;
  color: #777;
  font-weight: 500;
	font-size: 10.5px;
}
/*.sticky {
  width: 100%;
}*/
ul.menu {
	display: block; text-align:center;
}
ul.menu li {
	display: inline-block;
}
.top.band h1 {
	/*text-align:center;
	padding: 50px 0 0 0;*/
}
.top.band p {
	/*max-width:550px;*/
	/*padding:50px 0 100px 0;*/
	margin:0 auto;
	font-family: 'Gotham SSm',sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size:16px;
	line-height:1.6em;
}
.top-band-content {
	z-index:999;
	color:#fff;
	position: absolute;
  top: 50%;
}
#profile {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin:50px 0 50px 0;
}
.bg-overlay {
	background:rgba(0,0,0,.5);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.top-navigation {
	text-align:center;
	padding:0;
	margin:0;
}
.top-navigation li {
	text-transform:uppercase;
	display:inline-block;
	padding:0 10px;
	font-family: 'Gotham SSm',sans-serif;
	font-style: normal;
	font-weight: 100;
	letter-spacing:0.1em;
}
.top-navigation a {
  color: white;
}
.top-navigation a:hover {
/*  text-decoration: underline;*/
	border-bottom: 2px solid white;
}

/**
 * Content
 */
.slick-slider {
	margin-top: 10px;
}
.used-skill {
	color: black;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	border-bottom: 1px black solid;
	padding-bottom: 5px;
}
.project-work {
	padding:0 0 75px 0;
}
.project-work p {
	padding:10px 0 0 0;
	font-family: 'Gotham SSm',sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size:14px;
	line-height:2em;
}
.skill {
	background: #f0f0f0;
}
.skill-experience {
	padding:75px 0 75px 0;
}
.skill-experience ul {
	margin:0;
}
.skill-experience li {
	list-style:none;
	padding:10px 0;
	font-family: 'Gotham SSm',sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size:14px;
	line-height:1.2em;
	letter-spacing:0.05em;
}

/**
 * Footer
 */
.footer.band {
	padding:30px 0;
	background:grey;
	text-align: center;
}
.footer.band h4 {
  text-align: center;
	color:#fff;
	font-family: 'Gotham SSm',sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size:25px;
	letter-spacing:0.2em;
	text-transform:uppercase;
}
.footer.band ul {
	margin:0;
}
.footer.band li {
	list-style:none;
	padding:0 0 14px 0;
	font-family: 'Gotham SSm',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:14px;
	line-height:2em;
	color:#fff;
}
.box-link {
	text-transform:uppercase;
	font-size: 11px;
	letter-spacing: .12em;
	padding: 10px 50px;
  font-weight: bold;
	background-color: #1c1c1c;
  border-color: #1c1c1c;
  color: #fff;
}
