/* max-width 640px*/
@media only screen and (max-width: 40em) {
	.top.band {
		background: url('../img/top-band-bg2.jpeg') no-repeat center center;
		background-size: 300%;
		position:relative;
	}
	.top-band-content h1 {
		font-family: "proxima-nova",sans-serif;
		font-style: normal;
		font-weight: 300;
		text-transform:uppercase;
		color:#fff;
		font-size:2em;
		letter-spacing:0.1em;
	}
}

/* min-width 641px and max-width 1024px*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	.top.band {
		background: url('../img/top-band-bg2.jpeg') no-repeat center center;
		background-size: 160%;
		position:relative;
	}
	.top-band-content h1 {
		font-family: "proxima-nova",sans-serif;
		font-style: normal;
		font-weight: 300;
		text-transform:uppercase;
		color:#fff;
		font-size:4em;
		letter-spacing:0.1em;
	}
}

/* min-width 1025px*/
@media only screen and (min-width: 64.063em) {
	.top.band {
		background: url('../img/top-band-bg2.jpeg') no-repeat center center;
		background-size: 100% auto;
		position:relative;
	}
	.top-band-content h1 {
		font-family: "proxima-nova",sans-serif;
		font-style: normal;
		font-weight: 300;
		text-transform:uppercase;
		color:#fff;
		font-size:4em;
		letter-spacing:0.1em;
	}
}

h2 {
	text-transform:uppercase;
	text-align:center;
	padding:35px 0;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size:28px;
	letter-spacing:0.1em;
}
h3 {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:21px;
	letter-spacing:0.2em;
	text-transform:uppercase;
}
h4 {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:21px;
	letter-spacing:0.2em;
}

/**
 * Header
 */

/*.top.band {
	background: url('../img/top-band-bg2.jpeg') no-repeat center center;
	background-size:100% auto;
	position:relative;
}*/
.top.band h1 {
	text-align:center;
	padding: 100px 0 0 0;
}
.top.band p {
	max-width:550px;
	padding:50px 0 150px 0;
	margin:0 auto;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size:16px;
	line-height:1.6em;
}
.top-band-content {
	z-index:999;
	color:#fff;
}
#profile {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin:100px 0 0 0;
}
.bg-overlay {
	background:rgba(0,0,0,.5);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.top-navigation {
	text-align:center;
	padding:0;
	margin:0;
}
.top-navigation li {
	text-transform:uppercase;
	display:inline-block;
	padding:0 10px;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 100;
	letter-spacing:0.1em;
}
.top-navigation a {
  color: white;
}
.top-navigation a:hover {
/*  text-decoration: underline;*/
	border-bottom: 2px solid white;
}

/**
 * Content
 */

.project-work {
	padding:0 0 75px 0;
}
.project-work p {
	padding:10px 0 0 0;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size:14px;
	line-height:2em;
}
.skill-experience {
	padding:0 0 75px 0;
}
.skill-experience ul {
	margin:0;
}
.skill-experience li {
	list-style:none;
	padding:10px 0;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size:14px;
	line-height:1.2em;
	letter-spacing:0.05em;
}

/**
 * Footer
 */

.footer.band {
	padding:50px 0;
	background:#000;
}
.footer.band h5 {
	color:#fff;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size:18px;
	letter-spacing:0.2em;
	text-transform:uppercase;
}
.footer.band ul {
	margin:0;
}
.footer.band li {
	list-style:none;
	padding:0 0 14px 0;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:14px;
	line-height:2em;
	color:#fff;
}
.box-link {
  font-weight: bold;
  color: black;
}

